body {
  font-family: Verdana;
}

#sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 260px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    color: #fff;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}

#main, h1 {
    margin-left: 310px; /* Same as the width of the sidebar */
    padding: 20px 10px;
}

#main {
  border-bottom: 1px solid black;
}
